<div id="home-about">
  <div class="row">
    <div class="columns large-3">
      <h4>Залучення громад</h4>
    </div>
    <div class="columns large-3">
      <h4>Успіх через навчання</h4>
    </div>
    <div class="columns large-3">
      <h4>Ресурсний центр</h4>
    </div>
    <div class="columns large-3">
      <h4>Цільова аудиторія</h4>
    </div>
  </div>
</div>